<form action="/Categoria/Adiciona" method="post">
    <label>Nome: <input name="categoria.Nome" /></label>
    <label>Descrição: <input name="categoria.Descricao"/></label>
    <input type="submit">
</form>
